<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#1890ff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="saas,zhihui,质慧,fuzhuang" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>SAAS</title>
    <link rel="icon" href="<%= context.config.publicPath +'favicon.ico'%>" type="image/x-icon" />
  </head>
  <body>
    <noscript>
      <div class="noscript-container">
        Hi there! Please
        <div class="noscript-enableJS">
          <a href="https://www.enablejavascript.io/en" target="_blank" rel="noopener noreferrer">
            <b>脚本加载失败,请检查浏览器是否支持</b>
          </a>
        </div>
        当前浏览器版本过低无法正常显示页面内容,请升级浏览器版本或下载新的浏览器
      </div>
    </noscript>
    <div id="root">
      <style>
        .spinner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 150px;
          margin: auto;
          text-align: center;
        }

        .spinner > div {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-color: white;
          border-radius: 100%;
          -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
          animation: bouncedelay 1.4s infinite ease-in-out;
          /* Prevent first frame from flickering when animation starts */
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }

        .spinner .bounce1 {
          -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
        }

        .spinner .bounce2 {
          -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
        }

        @-webkit-keyframes bouncedelay {
          0%,
          80%,
          100% {
            -webkit-transform: scale(0);
          }

          40% {
            -webkit-transform: scale(1);
          }
        }

        @keyframes bouncedelay {
          0%,
          80%,
          100% {
            -webkit-transform: scale(0);
            transform: scale(0);
          }

          40% {
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }

        .text {
          width: 100vw;
          margin: 10px 0;
          color: white;
          font-size: 20px;
          text-align: center;
        }
      </style>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="text">程序正在装载中,请耐心等待...</div>
    </div>
  </body>
</html>
